@model Presentation.Models.CreateAttendanceViewModel


<div class="row">
     <div class="col-2">
        <label class="fw-bold">Group:</label>
    </div>
    <div class="col-10">
        <span>@Model.GroupCode</span>
    </div>

    <div class="col-2">
        <label class="fw-bold">Subject:</label>
    </div>
    <div class="col-10">
        <span>@Model.SubjectName</span>
    </div>
</div>

<hr />


<form method="post" action="/Attendance/Create">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID Card</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody>

        

            
            @for(int s =0; s < Model.Students.Count; s++)
            {
                var student = Model.Students[s];

                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.IdCard</td>
                    <td class="text-center">
                        <input type="hidden" name="attendances[@s].SubjectFK" value="@Model.SubjectCode" />
                        <input type="hidden" name="attendances[@s].StudentFK" value="@student.IdCard" />
                        
                        @if(Model.Presence.Count > 0)
                        {
                            if(Model.Presence[s] == true)
                            {
                                 <input type="checkbox" name="attendances[@s].Present" checked class="form-check-input" />
                            }
                            else
                            {
                                <input type="checkbox" name="attendances[@s].Present" class="form-check-input" />
                            }
                           
                        } 
                        else
                        {
                            <input type="checkbox" name="attendances[@s].Present" value="true" checked class="form-check-input" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <input type="submit" value="Save Attendance" />

</form>






